<!DOCTYPE html>
<html lang="en">

<head>
    <title>Change Password</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/fontawesome/css/all.css" rel="stylesheet">
    <style>
        * {
            padding: auto;
            margin: auto;
        }

        body {
            width: 100vw;
            height: 100vh;
            display: flex;
        }

        .container {
            border-radius: 5px;
            background-color: whitesmoke;
            max-width: fit-content;
        }

        img {
            width: 100px;
            height: 100px;
            display: flex;
        }
    </style>
</head>

<body>
    <div class="container">
        <img src="https://toppng.com/uploads/preview/download-key-and-lock-icon-png-clipart-padlock-keys-lock-key-icon-11562956003cfl0ixcixo.png"
            alt="logo-lock">

        <% if(successMessage.length> 0) { %>
            <div class="alert alert-success" role="alert">
                <%= successMessage %>
            </div>
            <% } %>

                <% if(errorMessage.length> 0) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= errorMessage %>
                    </div>
                    <% } %>

                        <div class="card-header">
                            <h1>Your Change Password</h1>
                        </div>
                        <div class="card-body">
                            <form action="" method="post">
                                <div class="form-group mb-3">
                                    <label for="oldpassword" class="form-label">Old Password</label>
                                    <input type="password" class="form-control" placeholder="your old password"
                                        id="oldpassword" name="oldpassword">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="newpassword" class="form-label">New Password</label>
                                    <input type="password" class="form-control" placeholder="your new password"
                                        id="newpassword" name="newpassword">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="retypepassword" class="form-label">Retype Password</label>
                                    <input type="password" class="form-control" placeholder="your Retype password"
                                        id="retypepassword" name="retypepassword">
                                </div>

                                <div class="card-footer" style="text-align: right;">
                                    <a href="/profile" class="btn btn-warning btn-block">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-undo-alt"></i>
                                        </span>
                                        <span class="text-white">Back</span>
                                    </a>

                                    <button type="submit" class="btn btn-success btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-save"></i>
                                        </span>
                                        <span class="text">Update</span>
                                    </button>
                                </div>
                            </form>
                        </div>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>

</html>