<!DOCTYPE html>
<html>

<head>
    <title>
        OLX
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/carousel.css' />
    <link href="/fontawesome/css/all.css" rel="stylesheet">
    <style>
    </style>
</head>

<body>

</body>

</html>