<!DOCTYPE html>
<html lang="en">

<head>
    <title>Change Password</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/fontawesome/css/all.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

</head>

<body>
    <div class="container col-md-6 offset-md-3">
        <!-- form card change password -->
        <div class="card">
            <div class="card-header">
                <h1>Your Change Password</h1>
            </div>
            <div class="card-body">
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="form-group mb-2">
                        <label for="inputPasswordOld">Your Current Password</label>
                        <input type="password" class="form-control" id="inputPasswordOld" value="" required="">
                    </div>
                    <div class="form-group mb-2">
                        <label for="inputPasswordNew">Your New Password</label>
                        <input type="password" class="form-control" id="inputPasswordNew" value="" required="">
                        <span class="form-text small text-muted">
                            The password must be 8-20 characters, and must <em>not</em> contain spaces.
                        </span>
                    </div>
                    <div class="form-group mb-2">
                        <label for="inputPasswordNewVerify">Confirm Password</label>
                        <input type="password" class="form-control" id="inputPasswordNewVerify" value="" required="">
                        <span class="form-text small text-muted">
                            To confirm, type the new password again.
                        </span>
                    </div>
            </div>
            <div class="card-footer" style="text-align: right;">
                <a href="/profile" class="btn btn-warning"><i class="fa-solid fa-rotate-left"></i></a>
                <button type="submit" class="btn btn-info"><i class="fa-solid fa-floppy-disk"></i></button>
            </div>
            </form>
        </div>
        <!-- /form card change password -->
    </div>

</body>

</html>