<!DOCTYPE html>
<html lang="en">

<head>
    <title>Change Password</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/fontawesome/css/all.css" rel="stylesheet">

</head>

<style>
    * {
        padding: auto;
        margin: auto;
    }

    body {
        width: 100vw;
        height: 100vh;
        display: flex;
    }

    .container {
        border-radius: 5px;
        background-color: whitesmoke;
        max-width: fit-content;
    }

    img {
        width: 100px;
        height: 100px;
        display: flex;
        /* margin-left: auto; */
        /* margin-right: auto; */
    }
</style>

<body>
    <div class="container">
        <img src="https://toppng.com/uploads/preview/download-key-and-lock-icon-png-clipart-padlock-keys-lock-key-icon-11562956003cfl0ixcixo.png"
            alt="logo-lock">
        <div class="card-header">
            <h1>Your Change Password</h1>
        </div>
        <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="form-group mb-3">
                    <label for="inputPasswordOld" class="form-label">Old Password</label>
                    <input type="password" class="form-control" placeholder="your old password" id="inputPasswordOld"
                        name="inputPasswordOld">
                </div>

                <div class="form-group mb-3">
                    <label for="inputPasswordNew" class="form-label">New Password</label>
                    <input type="password" class="form-control" placeholder="your new password" id="inputPasswordNew"
                        name="inputPasswordNew">
                </div>

                <div class="form-group mb-3">
                    <label for="inputPasswordNewVerify" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" placeholder="your confirm password"
                        id="inputPasswordNewVerify" name="inputPasswordNewVerify">
                </div>
            </form>
        </div>

        <div class="card-footer" style="text-align: right;">
            <a href="/profile" class="btn btn-warning btn-block btn-lg"><i class="fa-solid fa-rotate-left"></i>
                Cancel</a>
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fa-solid fa-floppy-disk"></i>
                Save</button>
        </div>
    </div>

</body>

</html>