<!DOCTYPE html>
<html lang="en">

<head>
    <title>Change Password</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/fontawesome/css/all.css" rel="stylesheet">

</head>

<style>
    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(45deg,
                #5ae100,
                #b7f2a4)
    }

    .w3-container {
        border-radius: 5px;
        background-color: whitesmoke;
    }
</style>

<body>
    <div class="w3-container">
        <div class="card-header">
            <h1>Your Change Password</h1>
        </div>
        <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="form-group mb-3">
                    <label for="inputPasswordOld" class="form-label">Current Password</label>
                    <input type="password" class="form-control" placeholder="your current password"
                        id="inputPasswordOld" name="inputPasswordOld">
                </div>

                <div class="form-group mb-3">
                    <label for="inputPasswordNew" class="form-label">New Password</label>
                    <input type="password" class="form-control" placeholder="your new password" id="inputPasswordNew"
                        name="inputPasswordNew">
                </div>

                <div class="form-group mb-3">
                    <label for="inputPasswordNewVerify" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" placeholder="your confirm password"
                        id="inputPasswordNewVerify" name="inputPasswordNewVerify">
                </div>
            </form>
        </div>

        <div class="card-footer" style="text-align: right;">
            <button type="submit" class="btn btn-info"><i class="fa-solid fa-floppy-disk"></i></button>
        </div>
    </div>

</body>

</html>