<!DOCTYPE html>
<html>

<head>
    <title>Belajar HTML</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/fontawesome/css/all.css" rel="stylesheet">

    <style>
        body {
            background-image: url(https://www.justforfunmobilegaming.com/wp/wp-content/uploads/2017/02/green-bg-new.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body>